<div class="backdrop-fr hidden">
  <div class="modal-container">
    <div class="form-button">
      <button type="button" class="sign-up" id="sign-up-btn">Sign up</button>
      <button type="button" class="sign-in" id="sign-in-btn">Login</button>
    </div>
    <!-- форма регистрации -->
    <form class="form-sighUp hidden" id="login-sighUp">
      <button type="button" class="form-sighUp__close"></button>
      <h1 class="form-sighUp__title">Sing up</h1>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="User name"
      />
      <input type="email" id="email" name="email" placeholder="E-mail" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <input type="submit" name="signep_submit" id="sighUp" value="OK" />
    </form>
    <!-- форма входа -->
    <form class="form-login hidden" id="login-box">
      <button type="button" class="form-login__close"></button>
      <h1 class="form-login__title">Sing up</h1>
      <input type="email" id="email" name="email" placeholder="E-mail" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
      />
      <input type="submit" name="login" id="login" value="Login" />
    </form>
  </div>
</div>
