<header class="header">
  <div class="container">
    <nav class="header-nav">
      <svg class="header-nav__logo svg" width="24px" height="24px">
        <use href="./image/icons.svg#film"></use>
      </svg>
      <a class="header-nav__text" href="./index.html">Filmoteka</a>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a class="header-nav__link current-page" href="./index.html">HOME</a>
        </li>
        <li class="header-nav__item">
          <a
            id="firebase-library"
            class="header-nav__link"
            href="./library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <form class="header-search">
      <input
        name="querySearch"
        class="header-search-input"
        type="text"
        placeholder="Movie search"
      />
      <button type="submit" class="header__button">
        <svg class="header-search-icon">
          <use href="./image/icons.svg#search"></use>
        </svg>
      </button>
      <p class="request-paragraph visually-hidden">
        Search result not successful. Enter the correct movie name.
      </p>
    </form>
    <div class="container error-container"></div>
  </div>
</header>
