<header class="header">
      <div class="container header-container">
        <nav class="header-menu">
          <div class="container_render_link">
            <svg class="menu-logo__logo">
                <use href="./image/icons.svg#film"></use>
              </svg>
              <a class="menu-logo__text" href="./index.html">Filmoteka</a>
          </div>          
          <ul class="header-menu__nav">
            <li class="menu-nav__link">
              <a class="nav-link__item" href="./index.html">HOME</a>
          </li>
          <li class="menu-nav__link">
            <a class="nav-link__item current" href="./library.html">MY LIBRARY</a>
            </li>
          </ul>
        </nav>  
        <div class="header-main">
                <ul class="header-search__container">
            <li>
              <button class="library-button library-first active_btn">WATCHED</button>
            </li>
            <li>
              <button class="library-button">QUEUE</button>
            </li>
          </ul>
        </div>
      </div>
  </header>