<header class="header">
    <div class="container ">
      <div class="header-container">
        <div class="header-menu heder-menu-library hidden container-navigation">
          <div class="container_render_link">
            <svg class="menu-logo__logo logo__images">
                <use href="./image/icons.svg#film"></use>
              </svg>
              <a class="menu-logo__text" href="./index.html">Filmoteka</a>
          </div>
          
          <ul class="header-menu__nav">
            <li class="menu-nav__link">
              <a class="nav-link__item" href="./index.html">HOME</a>
          </li>
          <li class="menu-nav__link">
            <a class="nav-link__item btn link-library current" href="./library.html">MY LIBRARY</a>
            </li>
          </ul>
        </div>
  
        <div class="header-main">
              
          <ul class="header-search__container unvisible">
            <li>
              <button class="library-button library-first active_btn">WATCHED</button>
            </li>
            <li>
              <button class="library-button library-second">QUEUE</button>
            </li>
  
          </ul>
  
  
  
        </div>
      </div>
  
    </div>
  
  </header>
  