<header class="header-library">
  <div class="container">
    <nav class="header-library-nav">
      <div class="header-library-nav__wrap">
        <svg class="header-library-nav__logo">
          <use href="./image/icons.svg#film"></use>
        </svg>
        <a class="header-library-nav__text" href="./index.html">Filmoteka</a>
      </div>
      <ul class="header-library-nav__list">
        <li class="header-library-nav__item">
          <a class="header-library-nav__link" href="./index.html">HOME</a>
        </li>
        <li class="header-library-nav__item">
          <a class="header-library-nav__link current-page" href="./library.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-library__btn-list">
      <li class="header-library__btn-item">
        <button class="header-library__button active_btn data-watched">
          WATCHED
        </button>
      </li>
      <li class="header-library__btn-item">
        <button class="header-library__button data-queue">QUEUE</button>
      </li>
    </ul>
  </div>
</header>
