<ul class="pagination-container">
    <!-- <li class="pagination-btn  disabled " disabled="">
        <svg class="icon" width="16" height="16">
            <use href="./image/icons.svg#left"></use>
        </svg>
        
    </li>
    <li class="pagination-btn current">1</li>
    <li class="pagination-btn">2</li>
    <li class="pagination-btn">3</li>
    <li class="pagination-btn">...</li>
    <li class="pagination-btn">20</li>
    <li class="pagination-btn">
        <svg class="icon" width="16" height="16">
            <use href="./image/icons.svg#right"></use>
        </svg>
    </li> -->
</ul>

