.footer {
    background-color: var(--button-paggination-color);
    box-shadow: 0px 10px 36px 16px #e2e2e2;

    &-box {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 470px;

        align-items: center;
        justify-content: center;

        @media screen and (min-width: 768px) {
            min-width: 550px;
            justify-content: space-evenly;
            align-items: flex-end;
        }
    }
    &-div {
        display: flex;
        align-items: center;
        margin-top: 10px;

        @media screen and (min-width: 768px) {
            align-items: flex-start;
        }
    }
    &-icon {
        // width: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
    &__link {
        text-decoration: underline;
        cursor: pointer;
    }
}

.secondary {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.143;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--secondary-text-color);

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.186;
    }

    &:active {
        color: var(--description-accent-color);
    }
}

.btn-move-up {
    position: fixed;
    border: transparent;
    width: 40px;
    height: 40px;

    bottom: 160px;
    right: 15px;
    z-index: 101;
    cursor: pointer;

    background: url('../image/footer/circle-up.svg') no-repeat;
    @media screen and (min-width: 768px) {
        bottom: 105px;
        right: 30px;
    }
}
