.header {
	padding-top: 40px;
	padding-bottom: 92px;
	background: url(../image/header2-mob.jpg) 0 0/100% 100% no-repeat;
	font-family: "Roboto", sans-serif;

	@media (min-width: 1280px) {
		padding-bottom: 84px;
		background-image:
		url(../image/header-Lib-desk1x.webp), 
		url(../image/header-Lib-desk2x.webp);

	}

	@media (min-width: 768px) and (max-width: 1279px) {
		padding-bottom: 81px;
		background-image:
		url(../image/header-Lib-tab1x.webp), 
		url(../image/header-Lib-tab2x.webp);
	}

	@media (max-width: 767px) {
		background-image:
		url(../image/header-Lib-mob1x.webp), 
		url(../image/header-Lib-mob2x.webp);

	}
}

.header-container {

	align-items: center;
	justify-content: space-between;
}

.container-navigation{
	justify-content: space-between;
}
.header-menu {
	display: flex;
	margin-bottom: 54px;
	line-height: 1.17;
    
	@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}
}


.header-menu_library{
	display: flex;
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
			margin-bottom: 40px;
		}

}

.menu-logo__logo {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	stroke: var(--primary-text-color);

	@media screen and (min-width: 1280px) {
			margin-right: 10px;
			
		}
}


.menu-logo__text {
	display: contents;

	@media screen and (max-width: 767px) {
		display: none;
	}
    font-weight: 500;
	font-size: 30px;
	color: var(--primary-text-color);
	margin: 0 0;
	line-height: 1.17;
}

.header-menu__nav {
	display: flex;
}

.menu-nav__link:not(:last-child) {
		margin-right: 39px;
	}


.nav-link__item {
	position: relative;
	line-height: 1.17;
	padding: 4px 0;
	font-size: 12px;
	color: var(--primary-text-color);
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.current::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--notification-text-color);
    border-radius: 2px;
    transition: background-color, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.header-search {
	position: relative;
}

.header-search__container {
	display: flex;
	justify-content: center;
}

.library-button {
	z-index: 999;
	font-size: 12px;
	min-width: 129px;
	padding: 13px 15px;
	line-height: 1.34;
	background-color: transparent;
	border: 1px solid var(--primary-text-color);
	color: var(--primary-text-color);
	border-radius: 5px;
	transition: box-shadow 250ms linear, 
	            background-color 250ms linear;
    cursor: pointer;


	&:hover, 
	&:focus{
		background-color: var(--btn-accent-color);
		box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.53)
		;
		border: 1px solid var(--btn-accent-color);
	}

	@media (min-width: 768px) {
		min-width: 152px;
		padding: 13px 15px;
		line-height: 1.33;
	}

	@media (min-width: 1280px) {
		min-width: 147px;
		padding: 13px 13px;
	}
}
.library-first {
	margin-right: 20px;

}


.active_btn{
	background-color: var(--btn-accent-color);
	border: 1px solid var(--btn-accent-color);
	color: var(--primary-text-color);
}

.request-paragraph {
	display: block;
	font-size: 14px;	
	line-height: 1.14;
}

.container_render_link{
	display: flex;
	align-items: center;
}

