.btn{
    background-color: aqua;
}
.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
transition: opacity 250ms, visibility 250ms;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn{
padding: 0;
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
background: #ffffff;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 50%;
top: 8px;
right: 8px;
position: absolute;
cursor: pointer;
}

.modal-backdrop {
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0,0,0,.2);
}

.modal{
 overflow-x: auto;
  position: relative;
  margin: auto;
  background-color:#ffff;
  font-family:  Roboto,normal;;
  font-weight:500;
  font-size: 20px;

  color: black ;
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 40px 20px;

   @media screen and(min-width:768px) and(max-width:1280px) {
    display: flex;
    margin: auto;
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width:1280px) {
    display: flex;
    width: 806px;
    height: 558px;
    padding: 40px 12px 40px 12px;
  }
  }

.modal-picture__image{
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 357px;
  border-radius: 5px;
  margin-bottom: 30px;
@media screen and(min-width:768px)and(max-width:1280px){
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width:1280px) {
    max-width: 375px;
    height: 478px;
  }
}

.modal-info{
  text-align: start;
}
.modal-info__title{
 font-size: 20px;
line-height: 1.15;
margin-bottom: 20px;
@media screen and (min-width:1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}
.modal-info__text{
    font-size:12px;
    color: #8C8C8C;
    display: flex;
    display: flex;
/* margin-bottom: 8px; */
}
/* .modal-info__text--meaning{

} */

.film__rating--orange{
padding-left: 10px;
padding-right: 10px;
color: #fff;
background-color: #ff6b01;
border-radius: 5px;
}
.film__rating--divider{
  margin-right: 3px;
}

.modal-info__about{
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 8px;
}
.modal-info__description{
  line-height: 1.67;
}

.modal-info__btn{
    display: flex;
    margin-top: 20px;
}
.info-btn{
    background-color: #ffff;
    width: 110px;
    height: 44px;
    border: 1px solid #000000;
    border-radius: 5px;
text-transform: uppercase;

 @media screen and (min-width:768px) and (max-width:1280px) {
    width: 125px;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}

/* Навешиваем класс при клике на кнопки */
.info-btn:hover{
    color: #ffff;
    background-color:#FF6B01;
    border-radius: 5px;
    border:0px;
    /* пересмотреть стилизацию бордер 0 */
}

.info-btn:first-child {
  margin-right: 15px;
}

