
.backdrop {
overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  @media screen and (min-width:768px){
    padding-left: 32px;
    padding-right: 32px;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn{
padding: 0;
display: flex;
align-items: center;
justify-content: center;
width: 30px;
height: 30px;
background: var(--primary-text-color);
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 50%;
top: 8px;
right: 8px;
position: absolute;
cursor: pointer;
}
.modal{
 overflow-x: auto;
  position: relative;
  margin: auto;
  background-color:var(--primary-text-color);
  font-weight:500;
  font-size: 20px;

  color: black ;
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 40px 20px;

   @media screen and(min-width:768px) and(max-width:1280px) {
    display: flex;
    margin: auto;
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width:1280px) {
    display: flex;
    width: 806px;
    height: 558px;
    padding: 40px 12px 40px 12px;
  }
  }

.modal-picture__image{
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 357px;
  border-radius: 5px;
  margin-bottom: 30px;
  
@media screen and(min-width:768px)and(max-width:1280px){
    max-width: 264px;
    height: 373.55px;
    margin-right: 68px;
  }
  @media screen and (min-width:1280px) {
    max-width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal-info{
  text-align: start;
}
.modal-info__title{
margin-bottom: 20px;
margin-top:20px;
 text-align: start;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height:1.15;
@media screen and (min-width:768px){
  margin-top: 0;
}

@media screen and (min-width:1280px) {
   font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 1.16;
    margin-top: 0;
  }
}
.modal-info__text{
    font-size:12px;
    display: flex;
}
.modal-info__text--description{
 color: #8C8C8C; 
line-height:1.33;
}
.modal-info__text--meaning{
  line-height: 1.16;
  color:#000000;
}
.film__rating--orange{
padding-left: 10px;
padding-right: 10px;
color:var(--primary-text-color);
background-color: #ff6b01;
border-radius: 5px;
}
.film__rating--divider{
  margin-right: 3px;
}

.modal-info__about{
  text-align: start;
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.33;
}
.modal-info__description{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.67;
}

.modal-info__btn{
    display: flex;
    margin-top: 20px;
    @media screen and (min-width:1280px){
      margin-left: 24px;
    }
}
.info-btn{
  width: 110px;
  height: 44px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.33;
background-color:#fff;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;


 @media screen and (min-width:768px) and (max-width:1280px) {
    width: 125px;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
  }
}
.info-btn:hover{
    color:var(--primary-text-color);
    background-color:#FF6B01;
    border-radius: 5px;
    border:0px;
}

.info-btn:first-child {
  margin-right: 15px;
}

