.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  z-index: 3;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 20px 38px 20px;
}

.modal {
  overflow-y: auto;
  background-color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
  position: relative;
  color: var(--primary-text-color-dark);
  max-height: 100%;
  max-width: 400px;
  padding: 48px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    min-width: 704px;
    min-height: 552px;
    padding: 40px 72px 40px 36px;
  }
  @media screen and (min-width: $desktop) {
    // display: flex;
    min-width: 806px;
    min-height: 558px;
    padding: 40px 12px 40px 12px;
  }
}

.modal-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
  background-image: url(../image/close.svg);
}

.modal-picture__image {
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 357px;
  border-radius: 5px;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 375px;
    height: 478px;
  }
}

.modal-picture {
  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    margin-right: 68px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 16px;
  }
}

.modal-info {
  text-align: start;
}
.modal-info__title {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: start;
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  @media screen and (min-width: $mobile) and (max-width: $max-mob) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    margin-top: 0;
  }
}
.modal-info__text {
  font-size: 12px;
  display: flex;
  margin-bottom: 8px;
}
.modal-info__text:last-child {
  margin-bottom: 0;
}
.modal-info__text--description {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  min-width: 108px;
}
.modal-info__text--meaning {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  display: flex;
  align-items: center;

  color: #000000;
}
.film__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-text-color);
  background-color: var(--btn-accent-color);
  border-radius: 5px;
}
.film__rating--divider {
  margin-right: 3px;
}

.film__rating--grey {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-text-color-dark);
  background-color: #f7f7f7;
  border-radius: 5px;
}

.modal-info__about {
  text-align: start;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.modal-info__description {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}

.modal-info__btn {
  display: flex;
  margin-top: 20px;
  @media screen and (max-width: $max-mob) {
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}
.info-btn {
  width: 110px;
  height: 44px;
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  background-color: var(--primary-text-color);

  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: 1px solid var(--primary-text-color-dark);
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    width: 125px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    width: 136px;
    align-items: center;
    justify-content: center;
  }
}
.info-btn:hover {
  color: var(--primary-text-color);
  background-color: var(--btn-accent-color);
  border-color: var(--btn-accent-color);
}

.info-btn:first-child {
  margin-right: 15px;
}
.queue-btn {
  align-items: center;
  justify-content: center;
}

.remove {
  background-color: red;
  outline: none;
  border-color: transparent;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    background-color: rgb(216, 12, 12);
  }
}
