.slider-js {
  position: relative;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 23px 25px 7px rgba(57, 0, 9, 0.2),
    0px 5px 10px 2px rgba(148, 23, 43, 0.2) inset;

  @media screen and (max-width: 479px) {
    max-width: 100%;
  }

  &__btn {
    z-index: 2;
    border: 0;
    padding: 0;
    background: transparent;
    width: 30px;
    height: 60px;
    border-radius: 7px;
    transition: transform 250ms var(--timing-function);
    box-shadow: 6px 5px 45px 17px rgba(255, 255, 255, 0.6);

    &--left {
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
      // z-index: 4;
      &::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--primary-text-color);
        transform: rotate(-75deg);
        border-radius: 4px;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--primary-text-color);
        transform: rotate(75deg);
        border-radius: 4px;
      }
      &:hover,
      &:focus {
        transform: scale(1.2) translateY(-50%);
      }
    }
    &--right {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      // z-index: 4;

      &::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--primary-text-color);
        transform: rotate(75deg);
        border-radius: 4px;
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--primary-text-color);
        transform: rotate(-75deg);
        border-radius: 4px;
      }
      &:hover,
      &:focus {
        transform: scale(1.2) translateY(-50%);
      }
    }
  }
}

@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

.glide {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 35px;

  .glide__slide {
    background-color: var(--bg-color-header);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
      transform: scale(1.04);

      box-shadow: 6px 5px 25px 12px rgba(255, 255, 255, 0.4);
    }
  }
  &__bullets {
    bottom: 5px;
    padding: 5px;
  }
  &__bullet {
    background-color: rgba(57, 0, 9, 0.2);
    box-shadow: 1px 2px 3px rgba(57, 0, 9, 0.2);

    &:focus-visible,
    &:hover {
      background-color: var(--btn-accent-color);
      border: 0;
    }
    &:focus {
      background-color: rgba(57, 0, 9, 0.2);
      box-shadow: 1px 2px 3px rgba(57, 0, 9, 0.2);
      border: 0;
    }
  }

  &__slides {
    transition: transform 550ms var(--timing-function);
  }
  &__track {
    transition: transform 550ms var(--timing-function);
  }
  & .glide__bullet--active {
    background-color: var(--btn-accent-color);
  }
  @media screen and (max-width: 479px) {
    margin-bottom: 30px;
    &__bullets {
      display: none;
    }
  }
  @media screen and (min-width: $mobile) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}
